.navbar-custom {
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 1px solid rgb(241, 241, 249);
    margin-bottom: 0;

    .nav li a {
        color: rgb(0, 72, 102);
        font-size: 16px;
    }
    .navbar-brand {
        padding: 3px 15px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-collapse.collapse {
        display: inline-block!important;
        position: absolute;
        top: -3px;
        right: 20px;
        border: none;
    }

    .navbar-nav {
        float: right !important;
    }

    .navbar-nav > li {
        float: left !important;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }
    .list-container {
        height: calc(67vh - 51px);
        overflow: scroll;
    }
}

@media only screen and (min-width: 768px) {
    .list-container {
        height: calc(100vh - 51px);
    }
}

.list-container {
    background-color: rgb(255, 255, 255);
}

.blue-bg {
    background-color: rgb(0, 72, 102);
}




/* ----- Loader ----- */

$loader-duration: 1.2s;
$loader-iteration-count: infinite;
$loader-direction: normal;


.loader-wrapper {
    width: 148px;
    height: 100px;
    position: absolute;
    margin: 0 0 0 -74px;
    left: 50%;
    top: 50%;
}

.loader {
    width: 148px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;

    &:after {
        content: "";
        top: auto;
        position: absolute;
        display: block;
        animation: shadow $loader-duration $loader-iteration-count linear;
        -moz-animation: shadow $loader-duration $loader-iteration-count linear;
        bottom: 0em;
        left: 0;
        height: .25em;
        width: 1em;
        background-color: rgb(0, 72, 102);
        opacity: 0.3;
    }
}

.roller,
.roller:last-child {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: rollercoaster $loader-duration $loader-iteration-count linear;
    -webkit-transform: rotate(135deg);
    -moz-animation: rollercoaster $loader-duration $loader-iteration-count linear;
    -moz-transform: rotate(135deg);
    animation: rollercoaster $loader-duration $loader-iteration-count linear;
    transform: rotate(135deg);
}

.roller:last-child {
    left: auto;
    right: 0;
    -webkit-transform: rotate(-45deg);
    -webkit-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
    -moz-transform: rotate(-45deg);
    -moz-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
    transform: rotate(-45deg);
    animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
}

.roller:before,
.roller:last-child:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 72, 102);
}

@-webkit-keyframes rollercoaster {

    0% {
        -webkit-transform: rotate(135deg);
    }
    8% {
        -webkit-transform: rotate(240deg);
    }

    20% {
        -webkit-transform: rotate(300deg);
    }

    40% {
        -webkit-transform: rotate(380deg);
    }
    45% {
        -webkit-transform: rotate(440deg);
    }
    50% {
        -webkit-transform: rotate(495deg);
        opacity: 1;
    }
    50.1% {
        -webkit-transform: rotate(495deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(495deg);
        opacity: 0;
    }
}

@-webkit-keyframes rollercoaster2 {
    0% {
        opacity: 0;
    }
    49.9% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        -webkit-transform: rotate(-45deg);
    }
    58% {
        -webkit-transform: rotate(-160deg);
    }

    70% {
        -webkit-transform: rotate(-240deg);
    }

    80% {
        -webkit-transform: rotate(-300deg);
    }

    90% {
        -webkit-transform: rotate(-340deg);
    }

    100% {
        -webkit-transform: rotate(-405deg);
    }
}

@-webkit-keyframes shadow {

    0% {
        opacity: .3;
        -webkit-transform: translateX(65px) scale(0.5, 0.5);
    }
    8% {
        -webkit-transform: translateX(30px) scale(2, 2);
    }

    13% {
        -webkit-transform: translateX(0px) scale(1.3, 1.3);
    }

    30% {
        -webkit-transform: translateX(-15px) scale(0.5, 0.5);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: translateX(60px) scale(1.2, 1.2);
        opacity: 0.3;
    }

    60% {
        -webkit-transform: translateX(130px) scale(2, 2);
        opacity: 0.05;
    }
    65% {
        -webkit-transform: translateX(145px) scale(1.2, 1.2);
    }
    80% {
        -webkit-transform: translateX(120px) scale(0.5, 0.5);
        opacity: 0.1;
    }
    90% {
        -webkit-transform: translateX(80px) scale(0.8, 0.8);
    }
    100% {
        -webkit-transform: translateX(60px);
        opacity: 0.3;
    }
}




/* Moz */

@-moz-keyframes rollercoaster {
    0% {
        -moz-transform: rotate(135deg);
    }
    8% {
        -moz-transform: rotate(240deg);
    }
    20% {
        -moz-transform: rotate(300deg);
    }
    40% {
        -moz-transform: rotate(380deg);
    }
    45% {
        -moz-transform: rotate(440deg);
    }
    50% {
        -moz-transform: rotate(495deg);
        opacity: 1;
    }
    50.1% {
        -moz-transform: rotate(495deg);
        opacity: 0;
    }
    100% {
        -moz-transform: rotate(495deg);
        opacity: 0;
    }
}

@-moz-keyframes rollercoaster2 {
    0% {
        opacity: 0;
    }
    49.9% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        -moz-transform: rotate(-45deg);
    }
    58% {
        -moz-transform: rotate(-160deg);
    }
    70% {
        -moz-transform: rotate(-240deg);
    }
    80% {
        -moz-transform: rotate(-300deg);
    }
    90% {
        -moz-transform: rotate(-340deg);
    }
    100% {
        -moz-transform: rotate(-405deg);
    }
}

@-moz-keyframes shadow {
    0% {
        opacity: .3;
        -moz-transform: translateX(65px) scale(0.5, 0.5);
    }
    8% {
        -moz-transform: translateX(30px) scale(2, 2);
    }
    13% {
        -moz-transform: translateX(0px) scale(1.3, 1.3);
    }
    30% {
        -moz-transform: translateX(-15px) scale(0.5, 0.5);
        opacity: 0.1;
    }
    50% {
        -moz-transform: translateX(60px) scale(1.2, 1.2);
        opacity: 0.3;
    }
    60% {
        -moz-transform: translateX(130px) scale(2, 2);
        opacity: 0.05;
    }
    65% {
        -moz-transform: translateX(145px) scale(1.2, 1.2);
    }
    80% {
        -moz-transform: translateX(120px) scale(0.5, 0.5);
        opacity: 0.1;
    }
    90% {
        -moz-transform: translateX(80px) scale(0.8, 0.8);
    }
    100% {
        -moz-transform: translateX(60px);
        opacity: 0.3;
    }
}




/* No-prefix */

@keyframes rollercoaster {
    0% {
        transform: rotate(135deg);
    }
    8% {
        transform: rotate(240deg);
    }
    20% {
        transform: rotate(300deg);
    }
    40% {
        transform: rotate(380deg);
    }
    45% {
        transform: rotate(440deg);
    }
    50% {
        transform: rotate(495deg);
        opacity: 1;
    }
    50.1% {
        transform: rotate(495deg);
        opacity: 0;
    }
    100% {
        transform: rotate(495deg);
        opacity: 0;
    }
}

@keyframes rollercoaster2 {
    0% {
        opacity: 0;
    }
    49.9% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: rotate(-45deg);
    }
    58% {
        transform: rotate(-160deg);
    }
    70% {
        transform: rotate(-240deg);
    }
    80% {
        transform: rotate(-300deg);
    }
    90% {
        transform: rotate(-340deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes shadow {
    0% {
        opacity: .3;
        transform: translateX(65px) scale(0.5, 0.5);
    }
    8% {
        transform: translateX(30px) scale(2, 2);
    }
    13% {
        transform: translateX(0px) scale(1.3, 1.3);
    }
    30% {
        transform: translateX(-15px) scale(0.5, 0.5);
        opacity: 0.1;
    }
    50% {
        transform: translateX(60px) scale(1.2, 1.2);
        opacity: 0.3;
    }
    60% {
        transform: translateX(130px) scale(2, 2);
        opacity: 0.05;
    }
    65% {
        transform: translateX(145px) scale(1.2, 1.2);
    }
    80% {
        transform: translateX(120px) scale(0.5, 0.5);
        opacity: 0.1;
    }
    90% {
        transform: translateX(80px) scale(0.8, 0.8);
    }
    100% {
        transform: translateX(60px);
        opacity: 0.3;
    }
}


#loader2 {
    &:after {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
    }

    .roller {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
    }
}

#loader3 {
    &:after {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .roller {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
}

.m-t-15 {
    margin-top: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

/* two seats on each side for free space */
.cinemacontainer {
  position: relative;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  width: 100vw;
  height: 100vh;
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -500px 0 0 -960px;
  width: 1920px;
  height: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cube__side {
  position: absolute;
  display: block;
}

.cube__side--front,
.cube__side--back {
  width: 1920px;
  height: 1000px;
}

.cube__side--left,
.cube__side--right {
  background: #f1f1f1;
  width: 3000px;
  /* depth */
  height: 1000px;
}

.cube__side--top,
.cube__side--bottom {
  width: 1920px;
  height: 3000px;
  /* depth */
}

.cube__side--back {
  background: #ffffff;
  box-shadow: 0 0 0 1px #f4f4f4;
  -webkit-transform: translate3d(0, 0, -3000px);
  transform: translate3d(0, 0, -3000px);
}

.cube__side--right {
  right: 0;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.cube__side--left {
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
  transform: rotate3d(0, 1, 0, 90deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.cube__side--top {
  background: #f6f6f6;
  -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -3000px, 0);
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -3000px, 0);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.rows--large {
  height: 113px;
  left: 160px;
  bottom: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: calc(100% - 320px);
  /* leave a margin */
}

.rows--mini {
  width: 230px;
  margin: 0 auto;
}

.cinemarow{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* .rows--mini .row:nth-child(9) {
  margin: 0 0 15px 0;
} */

.rows--large .cinemarow{
  left: 0;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.row__seat {
  -webkit-flex: none;
  flex: none;
  height: 100%;
  margin: 0;
}

.rows--mini .row__seat {
  width: 10px;
  height: 10px;
  background: rgba(72, 72, 78, 0.5);
  margin: 1px;
  border-radius: 1px;
  cursor: pointer;
}

.rows--mini .row__seat:hover {
  background: #3BAFDA;
}

.rows--mini .row__seat--reserved,
.rows--mini .row__seat--reserved:hover {
  background: #de6363;
}

.rows--large .row__seat {
  width: 80px;
  background: url(../img/svg/seat.svg) no-repeat 50% 0;
  background-size: 100%;
}

/* Row positioning */
.rows--large .row:nth-child(1) {
  -webkit-transform: translate3d(0, 0px, -2200px);
  transform: translate3d(0, 0px, -2200px);
}

.rows--large .row:nth-child(2) {
  -webkit-transform: translate3d(0, -18px, -2100px);
  transform: translate3d(0, -18px, -2100px);
}

.rows--large .row:nth-child(3) {
  -webkit-transform: translate3d(0, -36px, -2000px);
  transform: translate3d(0, -36px, -2000px);
}

.rows--large .row:nth-child(4) {
  -webkit-transform: translate3d(0, -54px, -1900px);
  transform: translate3d(0, -54px, -1900px);
}

.rows--large .row:nth-child(5) {
  -webkit-transform: translate3d(0, -72px, -1800px);
  transform: translate3d(0, -72px, -1800px);
}

.rows--large .row:nth-child(6) {
  -webkit-transform: translate3d(0, -90px, -1700px);
  transform: translate3d(0, -90px, -1700px);
}

.rows--large .row:nth-child(7) {
  -webkit-transform: translate3d(0, -108px, -1600px);
  transform: translate3d(0, -108px, -1600px);
}

.rows--large .row:nth-child(8) {
  -webkit-transform: translate3d(0, -126px, -1500px);
  transform: translate3d(0, -126px, -1500px);
}

.rows--large .row:nth-child(9) {
  -webkit-transform: translate3d(0, -144px, -1400px);
  transform: translate3d(0, -144px, -1400px);
}

/* Second back row set of seats (starting point needs to have the previous sums of the Y and Z translates) */
.rows--large .row:nth-child(10) {
  -webkit-transform: translate3d(0, -198px, -1100px);
  transform: translate3d(0, -198px, -1100px);
}

.rows--large .row:nth-child(11) {
  -webkit-transform: translate3d(0, -216px, -1000px);
  transform: translate3d(0, -216px, -1000px);
}

.rows--large .row:nth-child(12) {
  -webkit-transform: translate3d(0, -234px, -900px);
  transform: translate3d(0, -234px, -900px);
}

.rows--large .row:nth-child(13) {
  -webkit-transform: translate3d(0, -252px, -800px);
  transform: translate3d(0, -252px, -800px);
}

.rows--large .row:nth-child(14) {
  -webkit-transform: translate3d(0, -270px, -700px);
  transform: translate3d(0, -270px, -700px);
}

.rows--large .row:nth-child(15) {
  -webkit-transform: translate3d(0, -288px, -600px);
  transform: translate3d(0, -288px, -600px);
}

.rows--large .row:nth-child(16) {
  -webkit-transform: translate3d(0, -306px, -500px);
  transform: translate3d(0, -306px, -500px);
}

.rows--large .row:nth-child(17) {
  -webkit-transform: translate3d(0, -324px, -400px);
  transform: translate3d(0, -324px, -400px);
}

.rows--large .row:nth-child(18) {
  -webkit-transform: translate3d(0, -342px, -300px);
  transform: translate3d(0, -342px, -300px);
}

.plan {
  top: 0;
  right: 0;
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
  -webkit-transform: scale3d(1, 1, 1) translate3d(100%, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(100%, 0, 0);
  /* scale avoids flickering */
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  background-color: rgba(0, 0, 0, .2);
}

.plan--shown {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  /* scale avoids flickering */
}

.plan__title {
  text-align: center;
  font-size: 1em;
  margin: 0.25em 0 0.5em;
}

.legend {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}

.legend__item {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 9px 0 0;
  display: inline-block;
}

.legend__item::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px 0 0;
  border-radius: 2px;
  background: rgba(72, 72, 78, 0.5);
}

.legend__item--reserved::before {
  background: #de6363;
}

.legend__item--selected::before,
.rows--mini .row__seat--selected,
.rows--mini .row__seat--selected:hover {
  background: #21c252;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.tooltip::before {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  z-index: 1001;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #57e683;
  border-width: 6px;
  margin-left: -6px;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

.tooltip:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tooltip::after {
  content: attr(data-tooltip);
  background: #57e683;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  font-size: 14px;
  padding: 8px 10px;
  bottom: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate3d(-50%, -5px, 0);
  transform: translate3d(-50%, -5px, 0);
}

.tooltip:hover::after {
  -webkit-transform: translate3d(-50%, -10px, 0);
  transform: translate3d(-50%, -10px, 0);
}

/* Screen & video */
.screen {
  position: relative;
  background: #f1f1f1;
  width: 1280px;
  height: 540px;
  margin: 100px auto 0;
  overflow: hidden;
  border-radius: 7px;
}

.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 7px;
  position: absolute;
}

.video-player {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  border-radius: 7px;
}

.poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  z-index: 10;
}

.intro {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 20;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 120px;
  background: #f1f1f1;
  border-radius: 0 0 7px 7px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.intro--shown {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.intro__side {
  width: 50%;
  padding: 0em 1em;
}
.intro__side:first-child {
  border-right: 1px solid #121213;
}
.intro__side:last-child {
  text-align: center;
}

.intro__title {
  padding: 0 0 0 3em;
  margin: 0 0 0 0.75em;
  background: url(../img/svg/camera.svg) no-repeat 0% 50%;
  background-size: auto 70%;
}

.intro__up {
  display: block;
  font-size: 0.65em;
  color: #393941;
}

.intro__down {
  font-size: 1.5em;
  font-weight: 700;
  color: #adadad;
}

.intro__partial {
  font-size: 0.5em;
  color: #63636F;
}

.action {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.action:hover,
.action:focus {
  outline: none;
}

.action--seats {
  padding: 0.5em 0.5em 0.5em 2.5em;
  margin: 0 0 0 1em;
  margin: 0 auto;
  display: inline-block;
  background: #3BAFDA url(../img/svg/seats.svg) no-repeat 5% 50%;
  background-size: auto 70%;
  border-radius:  4px;
}

.action--play {
  position: absolute;
  pointer-events: none;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin-top: -20px;
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: url(../img/svg/play.svg) no-repeat 0% 50%;
  background-size: auto 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.action--lookaround {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-top: -20px;
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) translate3d(0, 10px, 0);
  transform: translate3d(-50%, -50%, 0) translate3d(0, 10px, 0);
  background: url(../img/svg/lookaround.svg) no-repeat 50% 50%;
  background-size: auto 80%;
  border-radius: 50%;
  border: 4px solid transparent;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.action--lookaround.action--disabled {
  border-color: rgba(72, 72, 78, 0.5);
}
.action--lookaround.action--shown {
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.action--shown {
  opacity: 1;
  pointer-events: auto;
}
.action--shown.action--faded {
  opacity: 0.2;
}

.action--buy {
  margin: 1em auto;
  background: #3BAFDA;
  font-size: 1em;
  width: 100%;
  padding: 0.75em 1.5em;
  border-radius: 3px;
  display: block;
  max-width: 230px;
}

.action--buy:hover {
  background: #55C1E7;
}

/* Fallback */
.no-preserve3d .cinemacontainer {
  display: none;
}
.no-preserve3d .plan {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 50em), screen and (max-height: 38em) {
  .action--lookaround {
    display: none;
  }
}

/*# sourceMappingURL=component.css.map */
